@media  screen and (max-width: 960px) {
  #header {
    position: relative;
    height: 0;
  }
  .header-left {
    position: relative;
    h2 {
      padding-left: 5px;
    }
  }
  .header-right {
    .header-menus {
      display: none;
    }
  }
  .hamburger {
    display: block;
  }
  .hero-headings {
    img {
      width: 40%;
    }
  }
  .hide-image {
    display: block;
  }
  .hide-image2 {
    display: none;
  }
  #philosophy {
    height: auto;
    padding: 0 40px;
  }
  .p-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .p-left {
    width: 75%;
  }
  .p-right {
    height: auto;
    padding: 50px;
    width: 100%;
    h2 {
      line-height: 60px;
      letter-spacing: 2px;
      font-size: 40px;
    }
  }
  #news {
    padding-left: 40px;
    padding-right: 20px;
  }
  .news-wrapper{
    flex-direction: column;
    h1 {
      width: 100%;
      font-weight: 250;
      margin-bottom: 100px;
    }
  }
  .news-right {
    width: 100%;
  }
  .N-left {
    width: 60%;
    padding-right: 5%;
  }
  .N-right {
    height: 30vw;
    width: 35%;
  }
  .Ntitle {
    font-size: 22px;
  }
  .Ntext {
    font-size: 14px;
    width: 90%;
  }
  .news-wrapper {
    padding: 40px 0 0;
  }
  .news-bottom {
    width: 100%;
    height: 60vw;
    //transform: none;
  }
  .culture-wrapper {
    flex-direction: column;
  }
  .culture-left {
    order: 2;
    width: 80%;
    padding-left: 50px;
    align-self: flex-start;
    
  }
  .culture-right {
    order: 1;
    align-self: center;
    h1 {
      font-size: 50px;
      margin: 30px;
      line-height: 60px;
    }
    .culture-text {
      padding-left: 0;
    }
    .btn {
      margin-left: 0;
    }
  }
  .media-wrapper {
    flex-direction: column;
    h1 {
      width: 100%;
      margin-bottom: 30px;
      text-align: left;
      padding-left: 5%;
    }
  }
  .media-containers {
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
  }
  .media-container {
    padding: 0;
    width: 45%;
  }
  .footer-right {
    grid-template-columns: repeat(1,1fr);
    a {
      &::after {
        display: none;
      }
    }
    li {
      display: inline-block;
      margin-right: 30px;
    }
    .f-heading {
      display: block;
      margin-bottom: 10px;
    }
  }
  .f-store {
    margin: 0;
  }
  .bl {
    order: 5;
    align-self: flex-start;
  }
  
}
@media  screen and (max-width: 760px) {
  .N-left {
    order: 2;
    padding-left: 10%;
    padding-right: 0px;
  }
  .N-right {
    order: 1;
  }
  .brand-wrapper {
    h1 {
      font-size: 35px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .container {
    width: 40%;
  .brand-name {
    right: -10px;
    font-size: 12px;
  }
}
.brand-bottom {
  width: 100%;
  height: 60vw;
  transform: translateY(20%);
}
.culture-wrapper {
  padding-top: 120px;
}
.culture-left {
  width: 90%;
  padding: 0 20px;
  align-self: center;
}
.culture-right {
  text-align: center;
  width: 90%;
  padding: 0 20px;
  h1 {
    font-size: 40px;
  }
  .culture-text {
    text-align: left;
    
    letter-spacing: 1px;
  }
}
.media-wrapper {
  h1 {
    font-size: 35px;
    text-align: center;
  }
}
.footer-wrapper {
  flex-direction: column;
}
.footer-right {
  order: 1;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  padding-bottom: 30px;
  li {
    display: block;
  }
}
.footer-left {
  order: 2;
  width: 100%;
  text-align: center;
  img {
    width: 60%;
  }
  P {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
}